<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />

    <title>{% block title %} {% endblock %}</title>
    <style>
      .navbar {
        background-color: #71cc0971;
      }
    </style>
    {% block css %} {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Fast Cars</a>
        <h1>Contact Us</h1>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-5">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="https://www.instagram.com"
                >Instagram</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/all_orders/"
                >Facebook</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="https://www.tiktok.com"
                >Tiktok</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="https://www.gmail.com"
                >Email</a
              >
            </li>
          </ul>
          <p>
            &nbsp;<strong>Our Address:</strong><br />
            <i>&nbsp;Street 34 Afabutar,</i><br />
            <i>&nbsp;Lagos, Nigeria</i>
          </p>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.713630145483!2d3.4279460773290915!3d6.4308219935602935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf5259d7310a7%3A0xe382eaae076faf1b!2sEko%20Hotel%20Roundabout%2C%20Victoria%20Island%2C%20Lagos%20106104%2C%20Lagos!5e0!3m2!1sen!2sng!4v1713977891985!5m2!1sen!2sng"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </nav>
    {% block body %} {% endblock %}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>

    {% block js %} {% endblock %}
  </body>
</html>
