{% extends 'customer_navbar.html' %} {% block title %} Testimonial {%endblock%}
{% block css %} {% endblock %} {% block body %}
<div class="container">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row mt-2">
      <div class="form-group col-md-12">
        <label><i style="font-weight: bold">Full Name</i></label>
        <input
          type="text"
          class="form-control"
          name="fname"
          placeholder="Your full name"
        />
      </div>
    </div>

    <div class="row mt-3">
      <div class="form-group col-md-6">
        <label><i style="font-weight: bold">City</i></label>
        <input
          type="text"
          class="form-control"
          name="city"
          placeholder="City"
        />
      </div>
      <div class="form-group col-md-6">
        <label><i style="font-weight: bold">Profile Image</i></label>
        <input type="file" class="form-control" name="image" />
      </div>
    </div>

    <div class="row mt-2">
      <div class="form-group col-md-12">
        <label><i style="font-weight: bold">Your Testimonial</i></label>
        <input
          type="text"
          class="form-control"
          name="dmessage"
          placeholder="type your testimionial here...."
        />
      </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
</div>
{% endblock %} {% block js %}
<script>
  {% if alert %}
  alert("Testimional added successfully.")
  document.location = "/testimonials"
  {% endif %}
</script>
{% endblock %}
